.containerInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 80px;
  width: 100%;
}

.input {
  background-color: transparent;
  border-radius: 0 .4rem;
  border: 0.1rem solid #4e0eff;
  padding: 0.7rem;
  color: white;
  width: 100%;
  font-size: 1rem;
}

.input:focus {
  border: 0.1rem solid #997af0;
  outline: none;
}

.inputError {
  background: rgba(243,52,19,.19);
  border-radius: 0 .4rem;
  border: 0.1rem solid #ff3e0e;
  color: #ff3e0e;
  padding: 0.7rem;
  width: 100%;
  font-size: 1rem;
}

.inputError:focus {
  background-color: transparent;
  border: 0.1rem solid #997af0;
  color: white;
  outline: none;
}

.inputError:focus ~ p {
  visibility: hidden;
}

.containerInput p {
  color: #ff3e0e;
  font-size: 14px;
  margin-top: 3px;
  font-weight: 300;
}
